h1 {
  color: #89bcd9;
  font-size: 60px;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
}

.my-projects {
  color: #f8f5ec;
  padding: 0 150px;
}

.project-names {
  color: #89bcd8;
  font-size: 30px;
  display: flex;
  gap: 48px;
  > div {
    &:hover {
      cursor: pointer;
      color: #f8f5ec;
    }
  }

  .project-name {
    padding: 16px 32px;
  }

  .active-project {
    background-color: #2d383f;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #f8f5ec;
  }
}
