nav {
  height: 104px;
  width: 100vw;
  max-width: 100%;
  background-color: #89bcd9;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.aft-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  > a {
    color: #262e34;
    text-decoration: none;
    font-size: 24px;
    margin: 0 16px;
  }
}

.language-buttons {
  gap: 16px;
}
