nav {
  height: 104px;
  width: 100vw;
  max-width: 100%;
  background-color: #89bcd9;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.aft-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  > a {
    color: #262e34;
    text-decoration: none;
    font-size: 24px;
    margin: 0 16px;
    padding-left: 32px;
    padding-right: 32px;
    &:hover {
      color: #f8f5ec;
    }
  }
}

.language-buttons {
  > span {
    padding-left: 8px;
    gap: 16px;
  }
}
