<h1>Contact Me</h1>
<div class="description-contact-info">
  <div class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nulla voluptate cum? Quo quis neque
    culpa delectus quibusdam quam libero vero illo quae cupiditate. Impedit eum ipsa vel quo
    suscipit.
  </div>
  <div class="contact-info">
    <div>Email: h.iraqi@web.de</div>
    <div>Tel: +49 179 109 69 92</div>
  </div>
</div>
<div class="form-wrapper">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-row">
      <div>
        <label
          for="name"
          [class.error]="contactForm.get('name')?.touched && contactForm.get('name')?.invalid"
          >Your name{{
            contactForm.get('name')?.touched && contactForm.get('name')?.invalid
              ? ' is required'
              : ''
          }}</label
        >
        <div class="input-wrapper">
          <input
            type="text"
            id="name"
            formControlName="name"
            required
            [class.error]="contactForm.get('name')?.touched && contactForm.get('name')?.invalid"
          />
          @if (contactForm.get('name')?.touched && contactForm.get('name')?.valid) {
            <img src="/img/done.svg" alt="Valid" class="done-icon" />
          }
        </div>
      </div>
      <div>
        <label
          for="email"
          [class.error]="contactForm.get('email')?.touched && contactForm.get('email')?.invalid"
          >Your email{{
            contactForm.get('email')?.touched && contactForm.get('email')?.invalid
              ? ' is required'
              : ''
          }}</label
        >
        <div class="input-wrapper">
          <input
            type="email"
            id="email"
            formControlName="email"
            required
            [class.error]="contactForm.get('email')?.touched && contactForm.get('email')?.invalid"
          />
          @if (contactForm.get('email')?.touched && contactForm.get('email')?.valid) {
            <img src="/img/done.svg" alt="Valid" class="done-icon" />
          }
        </div>
      </div>
    </div>
    <div>
      <label
        for="message"
        [class.error]="contactForm.get('message')?.touched && contactForm.get('message')?.invalid"
        >Your message{{
          contactForm.get('message')?.touched && contactForm.get('message')?.invalid
            ? ' is required'
            : ''
        }}</label
      >
      <div class="input-wrapper">
        <textarea
          id="message"
          formControlName="message"
          rows="5"
          required
          [class.error]="contactForm.get('message')?.touched && contactForm.get('message')?.invalid"
        ></textarea>
        @if (contactForm.get('message')?.touched && contactForm.get('message')?.valid) {
          <img src="/img/done.svg" alt="Valid" class="done-icon" />
        }
      </div>
    </div>
    <div class="checkbox-wrapper">
      <input type="checkbox" id="privacy" formControlName="privacy" required />
      <div
        [class.error]="contactForm.get('privacy')?.touched && contactForm.get('privacy')?.invalid"
        class="checkbox-label"
      >
        <label for="privacy">
          <span class="checkbox-custom"></span>
        </label>
        <span class="checkbox-text"
          >I've read the <a href="#">privacy policy</a> and agree to the processing of my data as
          outlined.</span
        >
      </div>
      @if (contactForm.get('privacy')?.touched && contactForm.get('privacy')?.invalid) {
        <div class="checkbox-error">Please accept the privacy policy.</div>
      }
    </div>
    <button
      type="submit"
      [style.color]="contactForm.valid ? '#89bcd9' : '#8f9290'"
      [style.border-color]="contactForm.valid ? '#89bcd9' : '#8f9290'"
    >
      Send
    </button>
  </form>
</div>
