h2 {
  color: #89bcd9;
  font-size: 30px;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f5ec;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  width: 500px;
  min-height: 400px;
  position: relative;

  > a {
    text-decoration: none;
    color: #89bcd8;
    text-decoration: underline #89bcd8;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/ellipse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/ellipse-glow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  > div {
    max-width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
