h1 {
  color: #89bcd9;
  font-size: 60px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-skills-container {
  color: #f8f5ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
  align-items: center;
}

.skills img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.currently-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 500px;
}
