h1 {
  color: #89bcd9;
  font-size: 60px;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
}

.my-skills-container {
  color: #f8f5ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 72px);
  justify-content: end;
  gap: 16px;
  width: 500px;
  padding-right: 24px;

  > img {
    width: 72px;
    height: 72px;
    object-fit: contain;
  }
}

.currently-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 500px;
  padding-left: 24px;
  min-height: 400px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/ellipse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/ellipse-glow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  > div {
    max-width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
