@font-face {
  font-family: 'Anta';
  src: url('/fonts/Anta-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Anta', sans-serif;
}

body {
  background-color: #262e34;
}
