::ng-deep > div {
  position: relative;
  height: 100vh;
}

.atf-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 104px);
}

.atf-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 88px;
    font-weight: 400;
  }

  > h2 {
    font-size: 40px;
    font-weight: 400;
  }
}

.atf-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.atf-logo-and-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.atf-socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 150px;
  top: 140px;
  > img {
    cursor: pointer;
  }
}

.atf-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(100vh - 104px);
  padding: 0 150px;
}

.arrow-down {
  cursor: pointer;
  padding-bottom: 64px;
}
