h1 {
  color: #89bcd9;
  font-size: 60px;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 64px;
}

.location-why-me {
  display: flex;
  justify-content: center;
  color: #f8f5ec;
  width: 100%;
}

.location {
  font-size: 30px;
  width: 500px;
  text-align: right;
  padding-right: 24px;
  > span {
    color: #89bcd9;
  }
  > img {
    vertical-align: middle;
  }
}

.why-me {
  width: 500px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;

  > button {
    align-self: flex-end;
    margin-top: 24px;
    font-size: 18px;
    background: none;
    color: #89bcd9;
    border-radius: 30px;
    padding: 13px 30px;
    border: 1px solid #89bcd9;
    cursor: pointer;
    &:hover {
      background-color: #3f454a;
    }
  }
}
